
.BuildControl {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.BuildControl button {
    display: block;
    font: inherit;
    padding: 5px;
    margin: 0 5px;
    width: 45px;
 border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    border: 2px solid #dce0e3;
}


.BuildControl button:disabled {
    background-color: #fff;
    border: 2px solid #dce0e3;
    color: #b4b8ba;
    cursor: default;
}

.BuildControl button:hover:disabled {
    background-color: #b4b8ba;
    color: #ccc;
    cursor: not-allowed;
}

.Label {
    padding: 10px;
    font-weight: bold;
    width: 80px;
}

.BuildControl .Less {  
    background-color: #dce0e3;
    color:#222;
    font-weight: 600;
    font-size: 1.2em;
}

.BuildControl .More {
    background-color: #dce0e3;
    color:#222;
    font-weight: 600;
    font-size: 1.2em;
}

.BuildControl .Less:hover, .BuildControl .Less:active {  
 
    background-color: #b4b8ba;
    color: white;
}

.BuildControl .More:hover,.BuildControl .More:active {
    background-color: #b4b8ba;
    color: white;
}