.Toolbar {
   height: 8vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #FCDC1F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.ToolBarLogo div {

    height: 92px;
   }



@media (max-width: 499px) {
    .DesktopOnly {
        display: none;
    }

    .ToolBarLogo div {

        display: none;
       }
}