
 .NavigationItem {
    margin: 10px 0;
    display:block;
    width: 100%;
    align-items: center;
}

.NavigationItem a {
    color: #222;
    text-decoration :none;
    width: 100%;        
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active {
  
  /* border-bottom: 4px solid #222; */
   opacity: 0.6;

}

@media (min-width: 500px) {

    
.NavigationItem {
    margin: 0; 
    display:flex;
    height: 100%;
    align-items: center;
    width: auto;
}

.NavigationItem a {
    color:  #222;
    height: 100%;
    padding: 10px 10px;
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    display: block; 
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a:active {
  
  /* border-bottom: 4px solid #222; */
   opacity: 0.6;

}
   
}